server:
  port: 8080

spring:
  application:
    name: autocoleta
  profiles:
    active: prod
  main:
    allow-bean-definition-overriding: true
  jpa:
    open-in-view: false
    repositories:
      enabled: false
  autoconfigure:
    exclude:
      - org.springframework.boot.autoconfigure.orm.jpa.HibernateJpaAutoConfiguration
      - org.springframework.boot.autoconfigure.data.jpa.JpaRepositoriesAutoConfiguration
  jackson:
    time-zone: America/Sao_Paulo
    serialization:
      write-dates-as-timestamps: false
    deserialization:
      adjust-dates-to-context-time-zone: false
    default-property-inclusion: non_empty
  cloud:
    openfeign:
      client:
        config:
          default:
            connectTimeout: 60000
            readTimeout: 60000
            loggerLevel: full
          salvarColeta:
            url: ${app.salvarColeta.baseUrl} 
            connectTimeout: 60000
            readTimeout: 60000
            loggerLevel: full
          adicionarOcorrencia: 
            url: ${app.salvarOcorrencia.baseUrl}
          authApi: 
            url: ${app.salvarOcorrencia.baseUrl}

logging:
  level:
    root: INFO
    com.tecnolog.autocoleta: DEBUG
    feign: DEBUG

# ---------------- CONFIGURAÇÕES DA APLICAÇÃO ----------------
app:
  scheduler:
    fixed-delay-ms: 15000
    batch-size: 10
  dtm:
    view: "public.vw_dtm_pedidocoleta_unica"
    lock-table: "public.dtm_automation_lock"
  salvarColeta:
    baseUrl: "https://Hmg-beta.synclog.com.br"
    tokenHash: "6B853C56-1F38-4836-A0BA-9378ED84A6E0"
    timeout-seconds: 30
  salvarOcorrencia:
    baseUrl: "https://dev.synclog.com.br"
    system-token: "5de61eb7-39a6-49e4-8b0c-a52e2659dc2e"
  defaults:
    hr-inicio: "00:00"
    hr-fim: "23:59"
